  /* calculator css starts */



form {
    display: flex;
    flex-direction: column;
}

  label {
    font-size: 1.25rem;
    width: 100%;
}
.title{
    margin: 10px 0 30px 0;
    font-weight: bolder;
    color: white;
    border-bottom: 1px solid white;
    
}

input {
    margin: 1em 0;
    padding: 0.5em 0.75em;
    width: 100%;
    background:none;
    border: none;
    border-bottom: 3px solid white;
    font-size: 15px;
    font-weight: bold;
    color: black;
}
input:focus {
    outline: none;
    background: none;
    
}
select {
    margin: 1em 0;
    width: 100%;
    padding: 0.5em 0.75em;

   

}
.input-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}
.card {
    width: min(1000px, 90%);
    margin: 0 auto;
    background: #141E30;
    padding: 1.5em 2em;
    color: white;
    
}
.calculate {
    padding: 0.8em 0;
    background: hwb(219 18% 54%);
    color: white;
    font-weight: 700;
    border: none;
    font-size: 18px;
    cursor: pointer;
    margin-top: 3rem;

}
.calculate:hover {
    opacity: 0.7;
    
} 
.reset{
    padding: 0.8em 0;
    background: #243B55;
    color: white;
    font-weight: 700;
    border: none;
    font-size: 18px;
    cursor: pointer;
    margin-top: 50px;
}
#propValue, #postcode{
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: larger;
}
#yourSaving, #yourSavingText{
    
    color: white;
    font-weight: bold;
    
}

#yourSavingText{
    margin-top: 50px;
    font-size: 25px;
}

#yourSaving{
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: center;
    
    
}



#inputSavingLabel{
    padding-top: 25px;
    display: flex;
    justify-content: center;
    height: 10vh;
   
}


#loadingCircle{
    
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 100%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        display: flex;
        justify-content: center
        }

.circlePosition{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 1vh;
    margin-bottom: 100px;
    margin-top: -100px;
}
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }

@media (max-width: 450px) {
    .input-item {
        flex-direction: column;
    }
}

  /* calculator css ends */